*
{
    margin:0;
}

header
{
    text-align: left;
    height:100px;
    background: url(../images/bcklogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{
    border:1px solid white;
}

body
{
    background-color:lightblue;
    color:black;
}

header h1
{
    margin-left:10%;
    padding: 30px;
    color:rgb(4, 105, 105);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar
{
    background-color:rgb(4, 72, 104);
    position:relative;
}

.navbar ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}

.navbar li
{
    margin-left:5%;
    display:inline-block;
}

.navbar li a
{
    color:white;
    background-color: rgb(4, 72, 104);
    display:block;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar ul ul
{
    position: absolute;
    top:100%;
    display:none;
}

.navbar ul ul li
{
    position:relative;
    display:block;
}

.navbar li:hover ul
{
    display:block;
}

.navbar ul ul li a:hover
{
    background-color:rgb(4, 105, 105);
}

.navbar a:hover
{
    background-color:rgb(4, 105, 105);
}

#active
{
    border: 1px dashed rgb(4,105,105);
}

#firstH2
{
    text-align: center;
    font-size:1.75em;
}

#mainIndexImg
{
    margin-left:15%;
    margin-right:15%;
    width:69%;
    height:200px;
    border:1px solid black;
}


.leftSide
{
    float:left;
    width:15%;
    margin-bottom:10px;
    padding:5px;
}

.rightSide
{
    float:right;
    width:15%;
    margin-bottom:10px;
    padding:5px;
}

#centerSide
{
    text-align: justify;
    width:90%;
    margin-bottom:25px;
}

#centerSide p
{
    margin:10px;
    padding:7px;
    font-size:1.2em;
}

#centerSide h3
{
    text-align: center;
    font-size:1.2em;
    margin-bottom:15px;
}


.video
{
    margin-left:10px;
    height:480px;
    position:relative;
    width:72%;
}



.sideImage
{
    width:100%;
    margin:1%;
    margin-bottom:25px;
    border:1px solid black;
}

footer
{
    clear:both;
    font-size:large;
    color:white;
    background-color: rgb(4, 72, 104);
    margin-top:25px;
    padding:12px;
    height:65px;
}

footer ul
{
    text-align: center;
}

footer li
{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

footer li a
{
    
    text-decoration: none;
    color:rgb(47, 203, 214);
}

footer p
{
    text-align: center;
    margin-top:5px;
    padding:5
}

.map
{
    padding:5px;
    margin:5px;
    border:1px dashed white;
    width:40%;
    float:right;
}

.iframe_map
{
    width: 98%;
    height:450px;
}

#firstH2_About
{
    text-align: center;
    font-size:250%;
}

.mainTextAbout
{
    width:55%;
    float:left;
}

.mainTextAbout p
{
    text-align: justify;
    margin-left:24px;
    margin-right:24px;
}

.aboutRight
{
    width:35%;
    float:right;
}


.aboutSection
{
    margin-top: 25px;
    border:1px dotted white;
    float:left;
    width:55%;
}

.aboutSection p
{
    text-align: justify;
    padding:6px;
    margin: 6px 6px 12px 12px;
}

.aboutToRight
{
    float:right;
    width:60%;
}

.aboutToLeft
{
    max-height: 175px;
    padding-left:2px;
    float:left;
    width:30%;
}

.rImage
{
    width:75%;
    padding:6px;
    margin:7px 7px 2px 2px;
    border: 1px dashed rgb(4, 72, 104);
    min-height:225px;
}

#firstH2_Places
{
    font-size:250%;
}

.placesSection h3
{
    text-align: center;
}

h3 a
{
    text-decoration: none;
    color:black;
}

.placesRight
{
    width:25%;
    float:right;
}

.placesSection
{
    margin-top: 25px;
    border:1px dotted white;
    float:left;
    width:65%;
    max-height: 250px;
    overflow:auto;
}

.placesFirstP
{
    margin-top:5px;
}

.placesToLeft
{
    /*border:2px solid rgb(4, 72, 104);*/
    border:2px solid white;
    width:40%;
    max-height:200px;
}

.placesToRight
{
    float:right;
    width:55%;
}

.placesSection p
{
    padding-top: 10px;
}

.mainTextContact
{
    float:left;
    width:38%;
    margin-left:12px;
    margin-right:12px;
}

.contactForm
{
    border:1px solid white;
    float:right;
    width: 54%;
    text-align: justify;
    padding:5px;
}

.required
{
    color:red;
}

.contactSection
{
    margin-top:12px;
    margin-bottom:7px;
    padding:5px;
}

.formSection
{
    margin:5px;
    padding:3px;
}

.contactSection h4
{
    margin-top:2px;
    padding:1px;
}

.bottomLink a
{
    padding:3px;
    border:1px solid white;
    border-radius: 7px;
    color:rgb(19, 100, 107);
    text-decoration: none;
}